<div class="container">
  <div class="header">
    <h2 class="border">Junior FullStak</h2>
    <h2 class="wave">Junior FullStak</h2>
     <div class="social">
      <div class="card">
        <a href="#" class="socialContainer containerOne">
          <i class="ri-linkedin-fill"></i>
        </a>

        <a href="#" class="socialContainer containerTwo">
          <i class="ri-github-fill"></i>
        </a>

        <a href="#" class="socialContainer containerThree">
          <i class="ri-instagram-fill"></i>
        </a>
      </div>
    </div>


  </div>
  <div class="pointerstar">
    <div class="status">
      <div class="nav_btns">
        <div class="moon" (click)="toggleTheme()">
          <i class="bx uil-moon change-theme" id="theme-button"></i>
        </div>

        <div class="music" id="nav_music">
          <i class='bx bx-volume-full change-theme'></i>
        </div>
      </div>
      <div class="nav_btns_stars">
        <div class="star" id="nav_star">
          <i class='bx bxs-star  change-theme'></i>
        </div>
        <div class="puntos">
          <p>Stars<span>1</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

