<div class="header">
    <h2 class="border">FullStak</h2>
<h2 class="wave">FullStak</h2>

  <div class="social">
            <div class="card">
                <a href="#" class="socialContainer containerOne">
                    <i class="ri-linkedin-fill"></i>
                </a>

                <a href="#" class="socialContainer containerTwo">
                    <i class="ri-github-fill"></i>
                </a>

                <a href="#" class="socialContainer containerThree">
                    <i class="ri-instagram-fill"></i>
                </a>
            </div>
        </div>
        <span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>

