.perfil {
    width: auto;
    height: auto;
}

.container {
    background: #0f0d0d;
    margin: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
    display: flex;
    width: 20rem;
    height: auto;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    box-shadow: inset  0px 0px 6px 2px #00e5ffa8;

}


.imagen {
    background: #5fcdd94a;
    margin: 5px;
    z-index: 2;
    width: 240px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: 220px;
    overflow: hidden;
    position: relative;
}

.imagen img {
    width: 260px;
    height: 300px;
    border-radius: 15px;
    margin-left: -25px;
    transform: rotate(357deg);

}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

span {
    padding: 5px;
    background: #ddd;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-top: 5px;
    border-radius: 10px;
}

.perfil .text-animate2 {
    width: 14rem;
    position: relative;
}

.perfil .text-animate2 h1 {
    font-size: 1.5rem;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 0.01vw #000;
    background: linear-gradient(to top, wheat, wheat);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0;
    transition: .6s;
    animation: moveText1 5s linear infinite;
    animation-delay: 1s;
}

.perfil .text-animate2 h1::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -2px;
    height: 20px;
    border-right: 3px solid wheat;
    animation: moveCursorText1 5s linear infinite;
    animation-delay: 1s;
}

@keyframes moveText1 {

    0%,
    10%,
    100% {
        background-position: -14rem 0;
    }

    65%,
    85% {
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText1 {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    85% {
        opacity: 0;
    }
}




/* //////// */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.cardperson {
    display: flex;
    align-items: center;
    justify-content: center;
}



.cardperson i {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0.5px #ff6b00;

}

.cardperson .phone {
    color: wheat;
    background: #000;
}

.cardperson .email {

    background: #000;
    color: wheat;
}

.cardperson .map {

    background: #000;
    color: wheat;
}

.cardperson .regalo {

    background: #000;
    color: wheat;
}

.info_person {
    width: 200px;
    margin-left: 10px;
}

.info_person h6 {
    font-size: 13px;
    color: #ccc;
    font-weight: 600;
}

.info_person p {
    font-size: 13px;
    margin-top: 3px;
    color: #ccc;
    font-weight: 600;

}

.buttons {
    display: flex;
    justify-content: center;
    background: #5fcdd94a;
    padding: 10px;
    border-radius: 5px;
    margin: 16px 0 10px 0;
    cursor: pointer;
    font-weight: 700;

}

.buttons:hover {
    transform: scale(1.1);
}

.buttons .button_flex {
    color: #fff;
    text-decoration: none;

}