.body {
    width: calc(100% - 34rem);
    height: 100%;
    margin-left: 23rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1000;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: var(--backgraund-componets);
    border-radius: 15px;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);

}