.sobre_mi {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
}

.line {
    width: 30%;
    height: 3px;
    margin-left: 20px;
    background-color: #00b6ff;
}

.section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.section p {
    margin-top: 10px;
    line-height: 22px;
    font-size: 18px;
    width: 100%;
    /* Hacer que el texto ocupe todo el ancho disponible */
    text-align: justify;
    /* Justificar el texto para que se vea bien */

}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
}

.subtitle {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.container {
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 300px;

}

.card>.row>.icon {
    display: flex;
    justify-content: center;
    width: 60px;
    background-color: #223;
    color: white;
    border-radius: 50%;
    align-items: center;
    margin: 11px 8px 230px 10px;
}

.card>.row>.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 290px;
    width: 300px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    position: relative;
    top: 32px;
}

.description h3 {
    color: #000;
    margin: 0;
}



.description p {
    color: #434343;
    margin: 0;
    /* Elimina los márgenes predeterminados */
    text-align: left;
    /* Alinea el texto a la izquierda */
    font-weight: 500;

}

.c1 p {
    color: #282828;


}

input {
    display: none;
}

input:checked+label {
    width: 400px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.card[for="c1"] {
    background-color: #0089ff;
    box-shadow: 0px 0px 10px 1px #0089ff;
    border: 0.5px solid #48ffff34;

}

.card[for="c2"] {
    background-color: #00b6ff;
    box-shadow: 0px 0px 10px 1px #00b6ff;
    border: 0.5px solid #00eaff2a;


}

.card[for="c3"] {
    background-color: #00eaff;
    box-shadow: 0px 0px 10px 1px #00eaff;
    border: 0.5px solid #00b7ff35;


}

.card[for="c4"] {
    background-color: #48ffff;
    box-shadow: 0px 0px 10px 1px #48ffff;
    border: 0.1px solid #0088ff2f;

}