<div class="sobre_mi">
    <div class="title">
        <h1>Sobre mi</h1>
        <div class="line"></div>
    </div>

    <section class="section">
        <p>Soy un apasionado explorador de la tecnología, impulsado por una curiosidad insaciable por aprender y crecer.
            Mi camino en la Ingeniería de Sistemas ha sido una aventura desafiante pero gratificante, donde he cultivado
            habilidades esenciales como la organización, resolucion de problemas y la puntualidad.
            <br>
            <br>
            Con una mente creativa y una perspectiva fresca, abordo cada reto como una oportunidad para imaginar, crear
            y transformar el mundo a mi alrededor. Inspirado por visionarios que aspiran a alcanzar las estrellas
        </p>

        <div class="container">
            <h1 class="heading">Lo que hago!</h1>
            <div class="box_container">
                <div class="box">
                    <img src="" alt="">
                    <h3>html 5</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit ratione, voluptate
                        vitae, ipsam reiciendis architecto sint</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h3>html 5</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit ratione, voluptate
                        vitae, ipsam reiciendis architecto sint</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h3>html 5</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit ratione, voluptate
                        vitae, ipsam reiciendis architecto sint</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h3>html 5</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit ratione, voluptate
                        vitae, ipsam reiciendis architecto sint</p>
                </div>
            </div>
        </div>

    </section>
</div>