.sobre_mi {
    margin: 0;

}

.title {
    display: flex;
    align-items: center;
    padding: 2rem 3rem 0rem 3rem;

}


.sobre_mi .text-animate2 {
    width: 11rem;
    position: relative;
}

.sobre_mi .text-animate2 h2 {
    font-size: 2rem;
    font-weight: 800;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 0.01vw #000;
    background: linear-gradient(to top, #ddd, #ffdede);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: moveText1 5s linear infinite;
    animation-delay: 1s;
}

.sobre_mi .text-animate2 h2::before {
    content: "";
    position: absolute;
    left: -2px;
    height: 100%;
    border-right: 3px solid #fff;
    animation: moveCursorText1 5s linear infinite;
    animation-delay: 1s;
}

@keyframes moveText1 {

    0%,
    10%,
    100% {
        background-position: -11rem 0;
    }

    65%,
    85% {
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText1 {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    85% {
        opacity: 0;
    }
}

.line {
    width: 30%;
    height: 3px;
    margin-left: 20px;
    background-color: #ffffff;
}

.section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem 0rem 3rem;

}

.section p {
    margin-top: 10px;
    line-height: 22px;
    font-size: 15px;
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;
    color: #cccccc9c;

}

.container {
    padding: 10px;
}

.container .heading {
    text-align: start;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 600;

    font-size: 20px;
}

.heading h1 {
    font-weight: 500;

}


.container .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box_container .box {
    border-radius: 15px;
    display: flex;
    padding: 10px 10px;

}

.b1 {
    background: #ff00f21d;
}

.b2 {
    background: #74b9ff29;
}

.container .box_container .box .icon {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 8px;
    margin-top: 5px;
}

.icon .fa-swatchbook {
    color: #ff07f3;
}

.icon .fa-laptop-code {
    color: #dbe700;
}

.icon .fa-code {
    color: #e70049;
}

.container .box_container .box img {
    height: 80px;
}

.container .box_container .box h4 {
    color: #ddd;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;

}

.container .box_container .box p {
    color: #777;
    font-size: 15px;
    text-align: start;
}


.container .box_container .box .btn .btn:hover {
    letter-spacing: 1px;
}

.container .box_container .box:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .3);
    transform: scale(1.02);
}

@media(max-width:768px) {
    .container {
        padding: 20px;
    }
}


/* /////// */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
    padding: 10px;

}

.wrapper .subtitle {
    text-align: start;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    font-weight: 600;

    font-size: 20px;
}


.wrapper p {
    margin-top: 0px !important;
}

.container1 {
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 300px;

}

.card>.row>.icon img {
    display: flex;
    justify-content: center;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    margin: 11px 8px 230px 10px;
}

.card>.row>.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 290px;
    width: 300px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    position: relative;
    top: 26px;
}

.c1 h3 {
    color: #000;
    margin: 0;
}

.c2 h3 {
    color: #ffffff !;
    margin: 0;
}

.description p {
    color: #434343;
    margin: 0;
    /* Elimina los márgenes predeterminados */
    text-align: left;
    /* Alinea el texto a la izquierda */
    font-weight: 500;

}



input {
    display: none;
}

input:checked+label {
    width: 400px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.card[for="c1"] {
    box-shadow: 0px 0px 10px 1px #323131;
    background-image: url('../../assets//img/montañismo.jpeg');

}

.card[for="c2"] {
    box-shadow: 0px 0px 10px 1px #323131;
    background-image: url('../../assets//img/space1.jpeg');


}

.card[for="c3"] {
    box-shadow: 0px 0px 10px 1px #323131;
    background-image: url('../../assets//img/musica.jpeg');


}

.card[for="c4"] {
    box-shadow: 0px 0px 10px 1px #323131;
    background-image: url('../../assets//img/tecnologia.jpeg');

}

.footer {
    width: 100%;
    height: 30px;
    display: flex;
    background: #ffffff20;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-top: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.footer p {
    text-align: center;
    color: #ccc;

}