.pointerstar {
    background: var(--backgraund-componets);
    margin: 10px;
    transition: all .5s ease;
    position: fixed;
    margin-top: 10px;
    z-index: 1;
    top: 0;
    right: 10px;
    width: 8rem;
    height: auto;
    border-radius: 15px;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);
} 

.status {
    padding: 22px 35px 22px 35px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nav_btns {
    display: flex;
    justify-content: center;

}

.moon {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    height: 25px;

}

.moon:hover {
    transform: scale(1.2);
    background: #fff;
    color: #000;

}



.uil-moon {
    margin-top: 2px;
}




.change-theme:hover {
    cursor: pointer;
    color: #000;

}

.bx {
    color: #ccc;

}

.nav_btns_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav_btns_stars span {
    background: #002639;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin-left: 15px;
}

.nav_btns_stars p {
    font-size: 12px;

}

.music {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;

}

.music:hover {
    transform: scale(1.1);
}

.star {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;
}

.star:hover {
    transform: scale(1.1);
 

}

.puntos {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 80px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;
}