.pointerstar {
    background: #0e75a912;
    margin: 10px;
    transition: all .5s ease;
    position: fixed;
    margin-top: 10px;
    z-index: 1;
    top: 0;
    right: 10px;
    width: 8rem;
    height: auto;
    border-radius: 15px;
    box-shadow: inset 0px 0px 6px 2px #00e5ff52;
}

.status {
    padding: 22px 35px 22px 35px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nav_btns {
    display: flex;
    justify-content: center;

}

.moon {
    display: flex;
    background: #000;
    border: 1px solid #ff6b00;
    width: 30px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #ff6b00;
    height: 25px;

}
.uil-moon{
    margin-top:2px;
}




.change-theme {
    cursor: pointer;

}

.bx {
    color: #ccc;

}

.nav_btns_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav_btns_stars span {
    background: #002639;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin-left: 15px;
}

.nav_btns_stars p {
    font-size: 12px;

}

.music {
    display: flex;
    background: #000;
    border: 1px solid #ff6b00;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #ff6b00;
    align-items: center;

}

.star {
    display: flex;
    background: #000;
    border: 1px solid #ff6b00;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #ff6b00;
    align-items: center;
}

.puntos{
    display: flex;                                                                  
    background: #000;
    border: 1px solid #ff6b00;
    width: 80px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #ff6b00;
    align-items: center;
}