<div class="pointerstar">
    <div class="status">
        <div class="nav_btns">
            <!-- ////////////////////thema negro///////////// -->
            <i class="uil uil-moon change-theme" id="theme-button"></i>
            <div class="music  change-theme" id="nav_music">
                <i class='bx bx-volume-full'></i>
            </div>
        </div>
        <div class="nav_btns_stars">
            <div class="star  change-theme" id="nav_star">
                <i class='bx bx-star'></i>
            </div>
            <p>Stars <span>0</span></p>

        </div>
    </div>
</div>