.container {
    background: hsl(204deg 100% 3% / 80%);
    margin: 10px;
    transition: all .5s ease;
    position: relative;
    z-index: 1;
    top: 0;
    margin-left: 23rem;
    width: calc(100% - 25rem);
    display: flex;
    height: 110px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


h2 {
    font-size: 3rem;
    position: absolute;
}

.titulo {
    display: flex;
    gap: 190px;
    align-items: center;
    justify-content: center;
}

.b1 {
    display: flex;
    justify-content: center;
}

.b2 {
    display: flex;
    justify-content: center;
}

.border {
    color: #000;
    text-shadow:
        -1px -1px 0 var(--color-azul-neon),
        1px -1px 0 var(--color-azul-neon),
        1px 1px 0 var(--color-azul-neon),
        -1px 1px 0 var(--color-azul-neon);
    text-shadow: 0px 0px 6px var(--color-borde-azul);
    top: 0;
}

.wave {
    color: var(--color-azul-neon);
    animation: wave 3s ease-in-out infinite;
    top: 0;

}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}


.border2 {
    color: #000;
    text-shadow:
        -1px -1px 0 var(--color-naranga-neon),
        1px -1px 0 var(--color-naranga-neon),
        1px 1px 0 var(--color-naranga-neon),
        -1px 1px 0 var(--color-naranga-neon);
    text-shadow: 0px 0px 6px var(--color-naranga-neon);
    top: 0;
}

.wave2 {
    color: var(--color-naranga-neon);
    animation: wave2 3s ease-in-out infinite;
    top: 0;

}

@keyframes wave2 {

    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}




.pointerstar {
    position: absolute;
    right: 0;
}


.social {
    margin-top: 45px;
}

.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* for all social containers*/
.socialContainer {
    background: var(--backgraund-interior-img);
    border-radius: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    transition-duration: .3s;
    box-shadow: 0px 0px 5px 0px var(--color-borde-azul);

}

/* linkdin*/
.containerOne {
    color: #00b6ff;

}

/* linkdin*/
.containerOne:hover {
    background-color: #000cfa3e;
    color: #0026ff;
    transform: scale(1.3);
    box-shadow: none;

}

/* github*/
.containerTwo {
    color: #fff;

}

/* github*/
.containerTwo:hover {
    background-color: #fff;
    transform: scale(1.3);
    color: #000;
    box-shadow: none;

}

/* instagram*/
.containerThree {
    color: #ea07ff;
}

/* instagram*/
.containerThree:hover {
    background-color: #a81bb56a;
    transform: scale(1.3);
    color: #a407ff;
    box-shadow: none;

}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}




.status {
    padding: 22px 35px 22px 35px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.nav_btns {
    display: flex;
    justify-content: center;

}

.moon {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    height: 25px;

}

.moon:hover {
    transform: scale(1.2);
    background: #fff;
    color: #000;

}



.uil-moon {
    margin-top: 2px;
}




.change-theme:hover {
    cursor: pointer;
    color: #000;

}

.bx {
    color: #ccc;

}

.bxs-star {
    color: #daaa3f;

}

.nav_btns_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.nav_btns_stars span {
    background: #002639;
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
    margin-left: 15px;
}

.nav_btns_stars p {
    font-size: 12px;

}

.music {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;

}

.music:hover {
    transform: scale(1.1);
}

.star {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 30px;
    height: 25px;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;
}

.star:hover {
    transform: scale(1.1);


}

.puntos {
    display: flex;
    background: #000;
    border: 1px solid #737270;
    width: 80px;
    height: 25px;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px #737270;
    align-items: center;
}

/* Teléfonos en orientación vertical y horizontal */
@media (max-width: 400px) {
    .container {
        margin: 10px;
        position: fixed;
        top: -10px;
        z-index: 10001;
        width: 95%;
        display: flex;
        height: 110px;
        background: hsl(204deg 100% 3%);
        left: 0;
    
    }
    .titulo {
        display: flex;
        gap: 175px;
        left: -10px;
        top: -10px;
      position: relative;
    }
    .pointerstar {
        
        display: none;
    }
  }