.perfil {
    width: auto;
    height: auto;
}

.container {
    background: hsl(204deg 100% 3% / 80%);
    margin: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
    display: flex;
    width: 20rem;
    height: 96vh;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);


}


.imagen {
    background: url(../../../assets/img/fondo.jpg );
    background-size: cover;

    margin: 5px;
    z-index: 2;
    width: 240px;
    border-radius: 20px;
    max-width: 100%;
    max-height: 220px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px 0px 20px 10px hsl(0deg 0% 0.100%);

}


.imagen img {
    width: 270px;
    height: 300px;
    border-radius: 15px;
    margin-left: -30px;
    filter: drop-shadow(0px -50px 50px hsl(0deg 0% 0.100%));
    transform: rotate(357deg);
    margin-bottom: 5px;
    transition: .9s;


}

.imagen img:hover {
    transform: scale(0.5) translateY(-80px) translateX(35px);
    transition: .9s;
    box-shadow: inset 0px 0px 18px 0px hsl(0deg 0% 0.100%);
    filter: drop-shadow(-1px -1px 10px hsl(0deg 0% 0.100%));

}


h1 {

    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--color-blanco-texto);
}


.perfil .text-animate2 {

    width: 14rem;
    position: relative;
    display: flex;
    display: flex;
    justify-content: center;
}



/* //////// */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 16px;
}

.cardperson {
    display: flex;
    align-items: center;
    justify-content: center;
}



.cardperson i {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    transition: .3s;
    box-shadow: inset 0px 0px 14px 3px var(--sombra-cards-personales);

}

.cardperson i:hover {
    transform: scale(1.1);
    background: var(--backgraund-hover-negro-cards-social);
    color: var(--backgraund-hover-blanco-text-cards-social);
    box-shadow: inset 0px 0px 14px 0px var(--sombra-cards-personales-hover);

}


.cardperson .phone {
    color: var(--color-negro-texto);
    background: var(--color-blanco-texto);
}

.cardperson .email {

    color: var(--color-negro-texto);
    background: var(--color-blanco-texto);
}

.cardperson .map {

    color: var(--color-negro-texto);
    background: var(--color-blanco-texto);
}

.cardperson .regalo {

    color: var(--color-negro-texto);
    background: var(--color-blanco-texto);
}

.info_person {
    width: 200px;
    margin-left: 10px;
}

.info_person h6 {
    font-size: 13px;
    color: var(--color-gris-texto);
    font-weight: 600;
}

.info_person p {
    font-size: 13px;
    margin-top: 3px;
    color: var(--color-gris-texto);
    font-weight: 600;

}

.buttons {
    display: flex;
    justify-content: center;
    background: var(--backgraund-interior-img);
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    cursor: pointer;
    font-weight: 600;
    box-shadow: inset 0 0 5px 0.5px var(--border-shadow-interior-img);

}

.buttons:hover {
    transform: scale(1.1);
    box-shadow: inset 0px 0px 6px 2px var(--color-naranga-neon);
    background: var(--sombra-boton-cv);

}

.buttons .button_flex {
    color: #fff;
    text-decoration: none;
}

/* Teléfonos en orientación vertical y horizontal */
@media (max-width: 400px) {
    .container {
        background: hsl(204deg 100% 3% / 80%);
        margin: 10px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 10px;
        display: flex;
        width: 20rem;
        height: 96vh;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);
    
    
    }
    
  }