.resumen {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
}




.resumen .text-animate2 {
    width: 10rem;
    position: relative;
}

.resumen .text-animate2 h2 {
    font-size: 2rem;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 0.1vw #ddd;
    background: linear-gradient(to top, #ddd, #ffdede);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: moveText1 5s linear infinite;
    animation-delay: 1s;
}

.resumen .text-animate2 h2::before {
    content: "";
    position: absolute;
    left: 1px;
    height: 100%;
    border-right: 3px solid #fff;
    animation: moveCursorText1 5s linear infinite;
    animation-delay: 1s;
}

@keyframes moveText1 {

    0%,
    10%,
    100% {
        background-position: -10rem 0;
    }

    65%,
    85% {
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText1 {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    85% {
        opacity: 0;
    }
}

.line {
    width: 30%;
    height: 3px;
    margin-left: 20px;
    background-color: #fff;
}


.section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.section p {
    margin-top: 10px;
    line-height: 22px;
    font-size: 15px;
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;

}

.container {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.container .heading {
    text-align: start;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 550;

    font-size: 22px;
}



.heading i {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 8px;
    color: #00b6ff;
}

.container .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box_container .box {
    border-radius: 15px;
    display: flex;
    padding: 20px 25px;
    height: 180px;
}

.b1 {
    background: #ff00f21d;
}

.b2 {
    background: #74b9ff29;
}

.container .box_container .box .text .experiencia__calendar {
    justify-content: center;
    display: flex;
    align-items: center;
}

.container .box_container .box .text .experiencia__calendar i {
    margin-right: 10px;
    margin-bottom: 5px;
    color: #fff;
}



.container .box_container .box h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 550;

}

.container .box_container .box p {
    color: #a6a6a6;
    font-size: 15px;
    text-align: start;
    margin-bottom: 5px;
    display: flex;
    margin-top: 0;
    align-items: center;

}

.container .box_container .box .img-1 {
    width: 30px;
    margin-left: 15px;
}

.conte {
    width: 50%;
}


.container .box_container .box:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .3);
    transform: scale(1.02);
}

@media(max-width:768px) {
    .container {
        padding: 20px;
    }
}