.resumen{
    display: flex;
    align-items: center;

}
.line {
    width: 30%;
    height: 3px;
    margin-left: 20px;
    background-color: #000dfa; /* Puedes cambiar el color según tus preferencias */
  }