<div class="resumen">
    
    <section class="section">
        <div class="title">
            <div class="text-animate2">
                <h2>Resumen</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="conte">
                <h1 class="heading"><i class='bx bxs-graduation c1'></i>Educacion</h1>
                <div class="box_container">
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p>2019 Finalizado </p>
                            </div>
                            <h4>Bachillerato </h4>
                            <p>Colegio - Jorge Eliecer Gaitan </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="box b2">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2022 / 2023 Finalizado </p>
                            </div>
                            <h4>Auxiliar Qa Analyst </h4>
                            <p>Empresa - Lineru-Tangelo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png" alt="">
                            </p>
                        </div>
                    </div>
                    
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2019 / Actualmente 8º</p>
                            </div>
                            <h4>Ingenieria de Sistemas</h4>
                            <p>UNAD </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png" alt="">
                            </p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="conte">
                <h1 class="heading"><i class='bx bxs-briefcase-alt-2 c2'></i>Experiencia</h1>
                <div class="box_container">
                    <div class="box b2">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2022 / 2023 Finalizado </p>
                            </div>
                            <h4>Auxiliar Frontend </h4>
                            <p>Empresa - Lineru-Tangelo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p>2023 Finalizado </p>
                            </div>
                            <h4>Analisis y Desarrollo De Sistemas De Informacion </h4>
                            <p>Sena - Tecnologo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="habilidades">
            <div class="title">
                <div class="text-animate2">
                    <h2>Habilidades</h2>
                </div>
                <div class="line"></div>
            </div>
            <div class="container a2">
                <div class="box_contain">
                    <div #wrapper1 class="wrapper">
                        <div #ticket1 class="ticket d1">
                            <img class="imagen" src="../../assets/img/angular.png" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"> </div>
                            <h1>Angular</h1>
                          <div class="bg"></div>
                        </div>
                        
                      </div>
                      <div #wrapper2 class="wrapper">
                        <div #ticket2 class="ticket d2">
                          <img class="imagen" src="../../assets/img/mysql.png" alt="">
                          <div class="bg1"></div>
                          <div class="bg2"></div>
                          <h1>Mysq</h1>
                          <div class="bg"></div>
                        </div>
                      </div>
                      <div #wrapper3 class="wrapper">
                        <div #ticket3 class="ticket d3">
                          <img class="imagen" src="../../assets/img/node.png" alt="">
                          <div class="bg1"></div>
                          <div class="bg2"></div>
                          <h1>Node js</h1>
                          <div class="bg"></div>
                        </div>
                      </div>
                      <div #wrapper4 class="wrapper">
                        <div #ticket4 class="ticket d4">
                            <img class="imagen" src="../../assets/img/js.png" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"> </div>
                            <h1>Java Script</h1>
                          <div class="bg"></div>
                        </div>
                        
                      </div>
                      <div #wrapper5 class="wrapper">
                        <div #ticket5 class="ticket d5">
                          <img class="imagen" src="../../assets/img/html.png" alt="">
                          <div class="bg1"></div>
                          <div class="bg2"></div>
                          <h1>Html</h1>
                          <div class="bg"></div>
                        </div>
                      </div>
                      <div #wrapper6 class="wrapper">
                        <div #ticket6 class="ticket d6">
                          <img class="imagen" src="../../assets/img/css.png" alt="">
                          <div class="bg1"></div>
                          <div class="bg2"></div>
                          <h1>Css</h1>
                          <div class="bg"></div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
</div>