.sidenav {
    background: var(--backgraund-componets);
    margin: 10px;
    transition: all .5s ease;
    position: fixed;
    margin-top: 143px;
    z-index: 1;
    top: 0;
    right: 10px;
    width: 8rem;
    height: auto;
    border-radius: 15px;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);
}


.sidenav_nav {
    list-style: none;
    padding: 0.938rem;
    display: flex;
    gap: 9px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.sidenav .sidenav_nav .sidenav_nav_item {
    position: relative;
    height: 74px;
    width: 100%;
    margin-bottom: 4px;
    transition: all 0.5s ease;
}

.sidenav_nav .sidenav_nav_link {
    display: flex;
    width: 100%;
    height: 100%;
    color:#fff;
    border-radius: 15px;
    border: 1px solid var(--backgraund-interior-img);
    text-decoration: none;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 6px 2px var(--border-shadow-interior);


}

.sidenav_nav .sidenav_link_icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    margin-bottom: 10px;


}

.sidenav_nav .sidenav_link_text {
    opacity: 1;
    font-size: 13px;
    font-weight: 500;

}

.sidenav_nav .sidenav_nav_item .sidenav_nav_link:hover {
    background: #ff6a0029;
    color: #fff;
    width: 100%;
    box-shadow: inset 0px 0px 6px 2px #ff6b00;

}

.active {
    background-color: #000 !important;
    transition: all .5s ease;
    box-shadow: inset 0px 0px 6px 2px #ff6b00 !important;

}


.active .sidenav_link_text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;

}

.active .sidenav_link_icon {
    color: #fff;
    font-size: 35px;
    font-weight: 100;
    margin: 0;
 
}