/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Crimson Text", serif;
    background-image: linear-gradient(45deg, rgba(247, 16, 109, 0.25) 0%, rgba(206, 212, 218, 0.45) 61%, rgba(218, 119, 242, 0.25) 100%);
}