/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}



body {
    min-height: 100vh;
    /* Asegura que el body ocupe al menos toda la altura de la ventana */
    font-family: "Poppins", sans-serif;
    background: url(./assets/img/fondo.jpg);
    background-size: cover;
}

body::before {
    content: '';
    position: fixed;
    /* Usa fixed para que el overlay cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.86);
    /* Ajusta el valor de opacidad según sea necesario */
    z-index: -1;
    /* Asegura que el pseudo-elemento esté detrás del contenido */
}



:root {

    --backgraund-body: hsl(0, 100%, 0%);
    --backgraund-componets: hsl(204, 100%, 3%);
    --border-shadow-interior: hsl(185, 100%, 18%);
    --border-shadow-interior-img: hsl(185, 100%, 18%);
    --backgraund-interior-img: hsl(0, 100%, 0%);

    --color-blanco-texto: hsl(76, 100%, 100%);
    --color-negro-texto: hsl(0, 100%, 0%);
    --color-gris-texto: hsl(0, 0%, 63%);
    --sombra-cards-personales: hsl(200, 60%, 11%);

    --backgraund-hover-negro-cards-social: hsl(0, 100%, 0%);
    --backgraund-hover-blanco-text-cards-social: hsl(0, 0%, 100%);
    --sombra-cards-personales-hover: hsl(186.12, 95.79%, 24.38%);

    --color-naranga-neon: hsl(25, 100%, 50%);
    --sombra-boton-cv: hsl(24.71, 77.27%, 8.63%);

    /* //////////////header//////////// */

    --color-azul-neon: hsl(186, 100%, 50%);
    --color-borde-azul: hsl(186, 100%, 50%);


    /* ///////////////////////about/////////////// */
    --color-texto-title: hsl(0, 0%, 100%);
    --color-texto-blanco: hsl(0, 0%, 67%);
    --color-b1: linear-gradient(315deg, #3f0028, #3f00281a, transparent);
    --color-b2: linear-gradient(315deg, #283b00, #283b0003, transparent);

}



/* //////////// Dark Tema ///////////////////// */
body.dark-theme {
    --backgraund-body: hsl(0, 100%, 0%);
    --backgraund-componets: hsl(0, 0%, 86.67%);
    --border-shadow-interior: hsl(0, 0%, 21%);
    --border-shadow-interior-img: hsl(180, 1%, 59%);
    --backgraund-interior-img: hsl(0, 0%, 0%);

    --color-blanco-texto: hsl(0, 0%, 0%);
    --color-negro-texto: hsl(0, 0%, 100%);
    --color-gris-texto: hsl(0, 0%, 14%);
    --sombra-cards-personales: hsl(0, 0%, 27%);

    --backgraund-hover-negro-cards-social: hsl(0, 0%, 100%);
    --backgraund-hover-blanco-text-cards-social: hsl(0, 0%, 0%);
    --sombra-cards-personales-hover: hsl(200, 60%, 11%);

    --color-naranga-neon: hsl(25, 100%, 50%);
    --sombra-boton-cv: hsl(24.71, 77.27%, 8.63%);

    /* //////////////header//////////// */

    --color-azul-neon: #00e5ff;
    --color-borde-azul: hsl(0, 0%, 0%);

    /* ///////////////////////about/////////////// */
    --color-texto-title: hsl(0, 0%, 100%);
    --color-texto-blanco: hsl(0, 0%, 67%);
    --color-b1: hsl(0, 0%, 0%);
    --color-b2: hsl(0, 0%, 0%);

}